<div class="comm-outline">
	<div class="comment">
		<div><b><%= comment.commenter %></b> Says:</div>
		<div class="comm-body">&quot;<%= comment.body %>&quot;</div>
	</div>

	<div class="comm-functions">
	    <%= link_to 'Remove Comment', [comment.post, comment],
	                :confirm => 'Are you sure?',
	                :method => :delete %>
	</div>
</div>