<h1>WEBlog</h1>
<h3>Web Engineering Blog</h3>
<p>Web Engineering Project 2: Blog</p>

<div class="box1">
	This project aims at developing a complete system model and a very simple functional prototype for a Web application. Students may work in groups of two or individually to complete the project. You are expected to apply all of the techniques learned throughout this course to develop a Web application of your choice. You need to create a complete model for your system (see deliverables below) and a small prototype to demonstrate some basic functionality. For the system prototype, you may use any server-side scripting language of your choice to code the prototype.
</div>

<%= link_to "To the WEBlog", posts_path %>
